[Unit]
Description=FSCK Boot Email
Requires=systemd-fsck-root.service
After=systemd-fsck-root.service network-online.target multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /root/Git/FSCK-Email/fsck_boot_email.py > /root/Git/FSCK-Email/Log/log 2>&1

[Install]
WantedBy=multi-user.target
