[Unit]
Description=FSCK Boot Email
Requires=systemd-fsck-root.service
After=systemd-fsck-root.service network-online.target multi-user.target

[Service]
Type=oneshot
EnvironmentFile=/etc/fsck-email.env
ExecStart=/usr/bin/python3 /root/Git/FSCK-Email/fsck_boot_email.py
StandardOutput=append:/root/Git/FSCK-Email/Log/log
StandardError=inherit

[Install]
WantedBy=multi-user.target
